.terminal {
    position: fixed;
    width: calc(100% - 12px);
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: $color_white;
    padding: 6px;
    text-align: left;
    z-index: -99;
    background: linear-gradient(to bottom, #262626 0%, #000000 100%);

    .out {
        color: $color_cyan;
    }

    .error {
        color: $color_red;
    }

    .getter {
        color: $color_yellow;
    }
}