::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    opacity: 0;
}

::-webkit-resizer {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    background-color: rgba(126, 126, 126, 0.6)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(126, 126, 126, 0.8);
}

* {
    box-sizing: border-box;
}

html {
    background-color: rgba(var(--color_dark), 1);
}

body {
    font-size: 26px;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 10px;
    line-height: 16px;
    background-color: rgba(var(--color_dark), 1);
    display: flex;
}

button {
    display: flex;
    width: 100%;
    max-width: 160px;
    height: 40px;
    max-height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(var(--color_black), 1);
    border-radius: 0;
    background-color: rgba(var(--color_black), 0.5);
    color: rgba(var(--color_white), 1);
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: rgba(var(--color_white), 0.1);
    }
}

label {
    display: flex;
    align-items: center;
    width: 200px;
}

input {
    display: flex;
    width: 100%;
    max-width: 200px;
    height: 40px;
    max-height: 40px;
    padding: 0 10px;
    align-items: center;
    border: 1px solid rgba(var(--color_black), 1);
    border-radius: 0;
    background-color: rgba(var(--color_black), 0.5);
    color: rgba(var(--color_white), 1);
    transition: .3s;
}

.hide {
    transform: scale(0);
    transform-origin: center;
    transition: .3s;
}

.show {
    transform: scale(1);
    transform-origin: center;
    transition: .3s;
}