.editor {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 100px);
    background: rgba(var(--color_black), 0.8);
    transition: .3s;
    display: flex;
    justify-content: space-between;

    textarea {
        width: calc(100% - 60px);
        height: 100%;
        margin: 0;
        padding: 10px;
        background: transparent;
        border: 0;
        color: rgba(var(--color_white), 0.8);
        font-size: 10px;
        resize: none;
        border-left: 1px solid rgba(var(--color_light), 0.1);
        padding-left: 2px;
    }

    &__close {
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
        margin-left: 10px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: -5px;
            top: 19px;
            width: 50px;
            height: 3px;
            background-color: rgba(var(--color_light), 0.6);
            transition: .2s;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

        &:hover {

            &::before,
            &::after {
                background-color: rgba(var(--color_light), 1);
            }
        }
    }

    &__save {
        position: absolute;
        left: 0;
        top: 60px;
        width: 60px;
        background-color: rgba(var(--color_light), 0.3);
        border: rgba(var(--color_light), 0.3);

        &:hover {
            background-color: rgba(var(--color_light), 0.8);
            border: rgba(var(--color_light), 0.8);
            color: rgba(var(--color_black), 1);
        }
    }

    &.hide-editor {
        right: -100vw;
    }

    &.show-editor {
        right: 0;
    }
}