:root {
    --color_black: 255, 255, 255;
    --color_white: 0, 0, 0;
    --color_dark: 226, 226, 226;
    --color_light: 16, 16, 16;
    --color_red: 255, 60, 60;
    --color_blue: 140, 140, 255;
    --loader: url(./../img/style/loader-white.gif);
    --tick: url(./../img/style/tick-white.png);
}